{% extends "base_actual.html" %}

{% block title %}
    <title>Редактировать направление деятельности</title>
{% endblock %}

{% block content %}

    <div class="container mt-4 mb-5">
        <form action="{% url 'directions_edit' direction_id=revers_id %}" method="post">
            {% csrf_token %}
            {{ post_form.media }}
            {{ post_form.as_p }}

            <div class="row">
                <div class="col-md-10">
                    <button type="submit" class="btn btn-primary btn-block">
                        Сохранить изменения
                    </button>
                </div>
                <div class="col-md-2 d-flex justify-content-end">
                    <a href="{% url 'actual_directions' parent_id=revers_id %}" class="btn btn-warning btn-block">
                        назад
                    </a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}