<h5 class="text-center">Инструкция</h5>
<div class="row">
    <div class="col-md-12">
        <p>Для создания объявления заполните обязательные поля:
            <ul>
                <li><b>Направлении деятельности</b></li>
                <li><b>Заголовок объявления</b></li>
                <li><b>Текст объявления</b></li>
            </ul>
        </p>
        <p><b>Стиль оформления</b> явялется необязательным полем.</p>
        <p>Если вы не хотите, чтобы в объявлении Вы были указаны в качестве автора - снимите отметку
            с соответствующего поля.</p>
    </div>
</div>
