{#<h6 class="text-center">Фильт объявлений</h6>#}
<div class="row">
    <div class="col-md-12">
        <div class="btn-group-vertical d-md-block" >
            {% for item in categories %}
                <a href="{% url 'news_category' category_id=item.pk %}" type="button" class="btn btn-light">
                    <b>{{ item.title }}</b>
                    <span class="badge bg-primary">{{ item.count_news }}</span>
                </a>
            {% endfor %}
        </div>

    </div>
</div>
