{% if order_documents %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Приказы</h5>
            <p class="card-text">
            <ul>
                {% for item in order_documents %}
                    <li>
                        <a href="{% url 'document_view' document_id=item.pk %}">
                            Приказ №{{ item.doc_number }} от {{ item.date_issue }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br>
{% endif %}
