{# sidebar главной страницы #}
<div class="row">
    <div class="col-md-12">
        <div class="btn-group-vertical btn-group-lg d-md-block" role="group" aria-label="Vertical button group">
            <a href="{% url 'departments' %}" type="button" class="btn btn-light">Подразделения</a>
            <a href="{% url 'person_search' %}" type="button" class="btn btn-light">Поиск</a>
            <a href="{% url 'order_search' %}" type="button" class="btn btn-light">Кадровые приказы</a>
        </div>
    </div>
</div>

