{% extends "base_generic.html" %}

{% block title %}
    <title>Добавить объявление</title>
{% endblock %}

{% block sidebar %}
    {#    {% include 'include/_sidebar.html' %}#}
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-9">
                <h5 class="text-center">Добавление объявления</h5>
                <form action="{% url 'add_news' %}" method="post">
                    {% csrf_token %}
                    {{ post_form.media }}
                    {{ post_form.as_p }}

                    <button type="submit" class="btn btn-primary btn-block">
                        {% if editable %}
                            Сохранить изменения
                        {% else %}
                            Добавить объявление
                        {% endif %}
                    </button>
                </form>
            </div>

            <div class="col-md-3">
                {% include 'include/news/_instruction_add_news.html' %}
            </div>
        </div>
{% endblock %}